body {
	background: #080098;
	padding: 0;
	margin: 0;
}

#main {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 10px;
	margin-right: auto;
	border: 1px solid #ccc;
	background-color: #ddd;
	padding: 5px;
	width: 765px;
	height: 800px;
	z-index:0;
}

#content {
    margin-top: 4px;
	margin-bottom: -5px;
	margin-left: -6px;
	margin-right: auto;
	border: 1px solid #ccc;
	background-color: #ddd;
	padding: 5px;
	width: 765px;
	height: 800px;
	overflow:auto;
	z-index:0;
}

#login {
	background-image: url("anchor_new2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 17% 3em;
	min-height: 600px;
}

#float {
	position:absolute;
	top:55px;
	left:395px;
	border: 1px solid #B0BDEC;
	background-color: #D5DFF5;
	font-size: 90%;
	clear: right;
	z-index:1;
}

#float2 {
	position:absolute;
	top:340px;
	left:395px;
	height:auto;
	width:auto;
	border: 1px solid #B0BDEC;
	background-color: #D5DFF5;
	font-size: 90%;
	clear: right;
	z-index:1;
}




ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
	z-index:10;
	}
	
ul li {
	position: relative;
	background: #fff;
	z-index:10;
	}
	
li ul {
	position: absolute;
	left: 0px;
	top: 30px;
	display: none;
	z-index:10;
	}

ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	z-index:10;
	}
	
	
li:hover ul, li.over ul { 
	display: block;
	z-index:10;}

li a {
	background: #fff;
	z-index:10;
	}
 

h1 {
	font-size: 16pt;
}

.smaller {
	font-size: smaller;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

a {
	text-decoration: none;
	color: #1000ee;
}

a:focus,a:hover {
	text-decoration: underline;
}

table.info {
	border: black solid 1px;
	border-collapse: collapse;
}

table.info tr {
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.info tr th {
	text-align: center;
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.info tr td {
	text-align: center;
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.info tr td table * {
	text-align: left;
	border: 0px;
}

table.straightup {
	border: black solid 1px;
	border-collapse: collapse;
}

table.straightup tr {
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.straightup tr td {
	text-align: left;
	vertical-align: top;
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.straightup tr th {
	text-align: center;
	vertical-align: top;
	border: black solid 1px;
	border-collapse: collapse;
	margin: 0;
}

table.straightup tr td table * {
	text-align: left;
	border: 0px;
}

table.compact {
	padding: 0;
}
table.compact tr,table.compact td {
	padding: 0;
	margin: 0;
	border: 0;
	padding-right: 5px;
}

.red {
	color: red;
}

.current {
	color: brown;
}

#navbar {
	margin: -5px;
	padding: 0px;
	border: 1px solid #ccc;
	z-index:9;
}

#navtable {
	width: auto;
	margin: 0;
	padding: 0;
	z-index:9;
}


.box {
	border: gray solid 1px;
	background-color: white;
	min-width: 40px;
}

.box2 {
	border:0px;
	background-color:#f5f8ff;
	padding-left:2px;
	padding-right:2px;
}

caption {
	font-size: larger;
	font-weight: bold;
}

table.calendar {
	margin-left: auto;
	margin-right: auto;
	border: black solid 1px;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #D5DFF5;
}

.calendar td {
	padding: 0px;
	height: 6em;
	width: 6em;
	vertical-align: top;
	border: black solid 1px;
}

.calendar th {
	border: black solid 1px;
}

.calendar caption {
	padding: 1em;
	font-weight: bold;
}

.date {
	font-weight: bold;
	margin-top: 0;
	margin-left: 0;
	height: 2ex;
	width: 2ex;
	border: red solid;
	padding: 2px;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	vertical-align: center;
}
/*Not Needed for Tablet*/
#history {
	position:absolute;
	left:805px;
	top:4px;
	width:auto
	height:relative;
	z-index:1;

}
}
